.DS_Store
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

build/
out/

com.divoom.Smart_3.8.02_und3fined.ipa

codexbar/
divoom-ditoo-pro-controller/
futpib-divoom-ditoo-pro-controller/
andreas-js/

reverse/android/
reverse/ios/
reverse/ios_ipa/Payload/

